<!doctype html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="{% static 'razvozki/bootstrap.min.css' %}" rel="stylesheet" crossorigin="anonymous">
    <title>Клиенты</title>
</head>
{% include 'razvozki/main.html' %}

<body>
<div class="d-flex flex-row justify-content-between">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-success">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-success">предыдущая</a>
        {% endif %}

        <span class="current btn btn-outline-secondary">
            страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-success">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-success">последняя &raquo;</a>
        {% endif %}
    </span>
</div>
<div class="d-flex justify-content-end">
    <form action="{% url 'razvozki:customers_clr' %}" method="post">
     {% csrf_token %}
     <button type="submit" class="btn btn-outline-danger">Навести порядок, но очень странный, лучше не нажимать</button>
    </form>
</div>
</div>
<br>
<div class="container-fluid">
  <div class="row bg-success" style="--bs-bg-opacity: .3;" >
    <div class="col-auto text-center text-success" style="hidden">
        <button onclick="javascript:add_ln('new_ln')" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="добавить клиента">
        Новый
        </button>
    </div>
    <div class="col-2 right">
        <button type="button" class="btn btn-outline-success" name="button_customer"> Клиент <i class="bi bi-caret-down-fill"></i></button>
    </div>
    <div class="col text-center fw-bold" >
        <button type="button" class="btn btn-outline-success" name="button_address"> Адрес <i class="bi bi-caret-down-fill"></i></button>
    </div>
    <div class="col text-center text-success">
        <button type="button" class="btn btn-outline-success" name="button_contact"> Контакт </button>
    </div>
    <div class="col-2 text-center text-success">
        <button type="button" class="btn btn-outline-success" name="button_mappoint"> Yandex-Координата </button>
    </div>
    <div class="col-auto text-center text-success"></div>
  </div>
</div>
    <div class="w-100"></div>

<form action="addrecord_cst/" method="post">
{% csrf_token %}
<div class="container-fluid" id="new_ln" style="display:none">
  <div class="row ">
    <div class="col-auto text-center"><a href="javascript:add_ln_reverse('new_ln')"><button type="button" class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="отменить">Отменить</button></a></div>
    <div class="col-2 text-center"><input type="text" class="form-control" id="customer_name" placeholder="Клиент" name="name"></div>
    <div class="col text-center"><textarea class="form-control" id="address" placeholder="Адрес" name="address"></textarea></div>
    <div class="col text-center"><textarea class="form-control" id="contact" placeholder="Контакт" name="contact"></textarea></div>
    <div class="col-2 text-center"><input type="text" class="form-control" id="mappoint" placeholder="Координата" name="mappoint"></div>
    <div class="col-auto text-center"><button type="submit" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="записать">Записать</button></div>
  </div>
</div>

</form>
{% for cst in page_obj %}
<div class="container-fluid" id="cst_id_{{cst.id}}">
  <div class="row ">
    <div class="col-auto text-center"><button type="button" class="btn btn-sm" style="color:white">Отменить</button></div>
    <div class="col-2 border border-1"><a class=" {{cst.clr}}" href="javascript:upd_ln({{cst.id}});">{{cst.name}}</a> </div>
    <div class="col border border-1"><a class=" {{cst.clr}}" href="javascript:upd_ln({{cst.id}});">{{cst.address}}</a></div>
    <div class="col border border-1"><a class=" {{cst.clr}}" href="javascript:upd_ln({{cst.id}});">{{cst.contact}}</a></div>
    <div class="col-2 border border-1 text-center"><a class=" {{cst.clr}}" href="javascript:upd_ln({{cst.id}});">{{cst.mappoint}}</a></div>

    <div class="col-auto border border-1 text-center">
        <form action="delete_cst/{{ cst.id }}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-outline-danger"  data-toggle="tooltip" data-placement="top" title="удалить клиента">Удалить</button>
        </form>
    </div>
  </div>
</div>
    <div class="w-100"></div>

<form action="{% url 'razvozki:updaterecord_cst' 'customers' %}" method="post">
{% csrf_token %}
<div class="container-fluid"  id="cst_id2_{{cst.id}}" style="display:none">
  <div class="row">
    <div class="col-md-auto text-center"><a href="javascript:upd_ln_reverse({{cst.id}});"><button class="btn btn-sm btn-danger" data-toggle="tooltip" data-placement="top" title="отменить">Отменить</button></a></div>
    <div class="col-2 border border-1" >
        <input type="text" class="form-control {{cst.clr}}" placeholder="Клиент" name="cst_name" value="{{ cst.name }}">
        <input type="hidden" class="form-control {{cst.clr}}" placeholder="id" name="cst_id" value="{{ cst.id }}">
    </div>
    <div class="col border border-1"><textarea class="form-control {{cst.clr}}"  placeholder="Адрес" name="address">{{cst.address}}</textarea></div>
    <div class="col border border-1"><textarea class="form-control {{cst.clr}}"  placeholder="Контакт" name="contact">{{cst.contact}}</textarea></div>
    <div class="col-2 border border-1"><input type="text" class="form-control {{cst.clr}}"  placeholder="Координата" name="mappoint" value="{{cst.mappoint}}"></div>
    <div class="col-auto border border-1 text-center"><button type="submit" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="top" title="записать">Записать</button></a></div>
  </div>
</div>
</form>
{% endfor %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-success">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-success">предыдущая</a>
        {% endif %}

        <span class="current btn btn-outline-secondary">
            страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-success">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-success">последняя &raquo;</a>
        {% endif %}
    </span>
</div>

<script src="{% static 'razvozki/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'razvozki/rzv.js' %}"></script>
</body>
</html>