{% extends 'razvozki/main.html' %}
{% block title %}Клиенты{% endblock %}
{% block content %}

{% load static %}

<div class="row justify-content-between ms-2 me-3 p-1 fixed-bottom bg-light">
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-success">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-success">предыдущая</a>
        {% endif %}

        <span class="current btn btn-outline-secondary">
            <strong>{{ page_name }}</strong> страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-success">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-success">последняя &raquo;</a>
        {% endif %}
        &nbsp
       <button class="btn btn-outline-success dropdown-toggle" type="button" id="_ChooseCustomerAdd{{rzv.id}}"
               data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
               Выбрать клиентов
        </button>
        <ul class="dropdown-menu" aria-labelledby="ChooseCustomerAdd{{rzv.id}}">
        {% for cst_range in customer_range %}
          <li><a class="dropdown-item" href="?page={{ cst_range.0 }}"> {{ cst_range.1 }}</a></li>
        {% endfor %}
        </ul>

    </span>
<div class="col text-end">
    <form action="{% url 'razvozki:cst_double_search' %}" method="post">
     {% csrf_token %}
     <input type="hidden" id="order_doub" name="order_doub" value="{{order}}">
        <button data-bs-toggle="modal" data-bs-target="#customerModal" class="btn btn-success" data-toggle="tooltip"
                data-placement="top" title="добавить клиента" type="button">
        Новый Клиент
        </button>
     <button type="submit" class="btn btn-outline-danger">Найти дубли</button>
    </form>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" aria-labelledby="customerModalLabel"
     data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="customerModalLabel">Редактировать Клиента</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clear_customer_modal();"></button>
      </div>
      <div class="modal-body">
      <form action="{% url 'razvozki:updaterecord_cst' %}" method="post" id="upd_customer">
      {% csrf_token %}
          <input hidden class="form-control" name="cst_id" id="cst_id" >
          <input type="hidden" name="page_number_upd" value="{{ page_obj.number }}">
          <h6>название</h6>
          <textarea class="form-control text-bold" name="customer" id="customer"></textarea>
          <h6>адрес</h6>
          <textarea class="form-control" name="address" id="address"></textarea>
          <h6>контакт</h6>
          <textarea class="form-control" name="contact" id="contact"></textarea>
          <h6>координата</h6>
          <textarea class="form-control" name="mappoint" id="mappoint"></textarea>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="clear_customer_modal();"
                data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" form="upd_customer" class="btn btn-success">Сохранить</button>
      </div>
    </div>
  </div>
</div>


<table class="table table-sm table-hover ms-2 me-3 lh-1" style="max-width: 1560px">
    <thead class="table-success">
        <tr class="">
            <th>Клиент</th>
            <th>Адрес</th>
            <th>Контакт</th>
            <th class="text-nowrap">Координата</th>
        </tr>
    </thead>
    <tbody>
    {% for cst in page_obj %}
        <tr onclick="update_modal_customer(this);" data-bs-toggle="modal" data-bs-target="#customerModal"
            data-id="{{cst.id}}" data-customer="{{cst.name}}" data-address="{{cst.address}}" data-contact="{{cst.contact}}"
            data-mappoint="{{cst.mappoint}}">
            <td class="fw-bolder" >{{cst.name}}</td>
            <td >{{cst.address}}</td>
            <td >{{cst.contact}}</td>
            <td >{{cst.mappoint}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>





{% endblock %}
