{% extends 'razvozki/main.html' %}
{% block title %}Дубли{% endblock %}
{% block content %}

{% load static %}
<br>
<div class="container-fluid">
 <div class="row bg-success" style="--bs-bg-opacity: .3;" >
    <div class="col-auto border border-1">
        <div id="initial_un">
         <a href="javascript:unite_double();">
            <button type="button" class="btn btn-outline-success btn-sm">Слить</button>
        </a>
         <a href="javascript:upd_ln_double();">
             <button type="button" class="btn btn-outline-danger btn-sm">Изменить</button>
         </a>
        </div>
    <form id="unite_cst" action="{% url 'razvozki:unite_cst' %}" method="post">
    {% csrf_token %}
    <input type="hidden" id="order_un" name="order_un" value="{{order}}">
    <div id="final_un" style="display:none">
         <input type="hidden" id="cst_lv" name="cst_lv">
         <input type="hidden" id="cst_dt" name="cst_dt">
         <button type="submit" class="btn btn-success btn-sm">Подтвердить слияние</button>
        </a>
    </div>
    </form>
    </div>
    <div class="col-2 text-center fw-bold">
        <a href="{% url 'razvozki:double' 'name' %}" class="link-success"><i class="bi bi-caret-down-fill bi-success"></i> Клиент </a>
    </div>
    <div class="col text-center fw-bold" >
        <a href="{% url 'razvozki:double' 'address' %}" class="link-success"><i class="bi bi-caret-down-fill bi-success"></i> Адрес </a>
    </div>
    <div class="col text-center fw-bold">
        <a href="{% url 'razvozki:double' 'contact' %}" class="link-success"><i class="bi bi-caret-down-fill bi-success"></i> Контакт </a>
    </div>
    <div class="col-2 text-center fw-bold text-success">Yandex-Координата</div>
  </div>
  {% for cst in cust %}
  <div class="row " id="show_{{cst.id}}">
    <div class="col-auto border border-1">
        <input type="radio" class="btn-check" name="options_outlined_leave" id="success_outlined_{{cst.id}}" autocomplete="off" value="l_{{cst.id}}">
        <label class="btn btn-sm btn-outline-success" for="success_outlined_{{cst.id}}">Оставить</label>

        <input type="radio" class="btn-check" name="options_outlined_delete" id="danger_outlined_{{cst.id}}" autocomplete="off" value="d_{{cst.id}}">
        <label class="btn btn-sm btn-outline-danger" for="danger_outlined_{{cst.id}}">Убрать</label>
    </div>
    <div class="col-2 border border-1 {{cst.clr}}">{{cst.name}} </div>
    <div class="col border border-1 {{cst.clr}}" >{{cst.address}}</div>
    <div class="col border border-1 {{cst.clr}}">{{cst.contact}}</div>
    <div class="col-2 border border-1 text-center {{cst.clr}}">{{cst.mappoint}}</div>
  </div>
    <form id="update_cst" action="{% url 'razvozki:updaterecord_cst' 'double' %}" method="post">
    {% csrf_token %}
      <input type="hidden" id="order_up" name="order_up" value="{{order}}">
      <input type="hidden" id="page_number_upd" name="page_number_upd" value="">
      <div id="hide_{{cst.id}}" style="display:none">
      <div class="row " >
        <div class="col-auto border border-1">
            <button  form="update_cst" type="submit" class="btn btn-success btn-sm">Записать</button>
            <button onclick="javascript:upd_ln_double_reverse;" class="btn btn-danger btn-sm">Отмена</button>

        </div>
        <div class="col-2 border border-1">
            <input type="text" class="form-control {{cst.clr}}" placeholder="Клиент" name="cst_name" value="{{ cst.name }}">
            <input type="hidden" class="form-control {{cst.clr}}" placeholder="id" name="cst_id" value="{{ cst.id }}">
        </div>
        <div class="col border border-1"><textarea class="form-control {{cst.clr}}"  placeholder="Адрес" name="address">{{cst.address}}</textarea></div>
        <div class="col border border-1"><textarea class="form-control {{cst.clr}}"  placeholder="Контакт" name="contact">{{cst.contact}}</textarea></div>
        <div class="col-2 border border-1 text-center text-danger">
            <input type="text" class="form-control {{cst.clr}}"  placeholder="Координата" name="mappoint" value="{{cst.mappoint}}">
        </div>
      </div>
      </div>
    </form>
  {% endfor %}

<!-- </form> -->
</div>
{% endblock %}