
{% extends 'razvozki/main.html' %}
{% block title %}Развозки{% endblock %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
{% block content %}
{% load static %}

<!-- Modal -->
<div class="modal fade" id="razvozkaModal" tabindex="-1" aria-labelledby="razvozkaModalLabel"
     data-bs-backdrop="static" data-bs-keyboard="false" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="razvozkaModalLabel">Редактировать Развозку</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="clear_rzv_modal();"></button>
      </div>
      <div class="modal-body">
      <form action="{% url 'razvozki:updaterecord_rzv' %}" method="post" id="upd_customer">
      {% csrf_token %}
          <input class="form-control" name="rzv_id" id="rzv_id" >
          <input type="hidden" name="page_number_upd" value="{{ page_obj.number }}">
          <div class="row m-1 me-3">
          <div class="col align-self-center" style="max-width: 40px;">
          <h6 class="">#</h6>
          </div>
          <div class="col-3 align-self-center">
          <input type="number" class="form-control text-bold" name="date_id" id="date_id" value="1" required>
          </div>
          <div class="col-1">
          <h6>дата</h6>
          <h6>cрок до</h6>
          </div>
          <div class="col-4">
          <input type="date" class="form-control mb-1" name="date" id="date" required>
          <input type="date" class="form-control" name="date_until" id="date_until">
          </div>
          <div class="col-1 align-self-center">
          <button class="btn btn-success dropdown-toggle" type="button" id="ChooseClientAdd"
                  data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                  <i class="bi bi-person-plus"></i>&nbsp; Выбрать клиента
          </button>
          <ul class="dropdown-menu" aria-labelledby="ChooseClientAdd" id="ChooseCust">
              <input type="text" class="dropdown-item" placeholder="Поиск.." id="CustInput" onkeyup="filterCust()">
              {% for cst in cust %}
              <li id="Cust{{date_r}}_{{cst.id}}" class='dropdown-item' onclick='javascript:select_customer(this);' data-address="{{cst.address}}"
                    data-id="{{cst.id}}" data-contact="{{cst.contact}}" data-mappoint="{{cst.mappoint}}">{{cst.name}}
<!--                  <a class='dropdown-item' href='javascript:select_customer(this);' data-address="{{cst.address}}"
                    data-id="{{cst.id}}" data-contact="{{cst.contact}}" data-mappoint="{{cst.mappoint}}">{{cst.name}}</a><--->
              </li>
              {% endfor %}
          </ul>
          </div>
          </div>
          <h6>клиент</h6>
          <textarea class="form-control text-bold" name="customer" id="customer"></textarea>
          <input class="form-control text-bold" name="customer_id" id="customer_id">
          <h6>адрес</h6>
          <textarea class="form-control" name="address" id="address"></textarea>
          <h6>контакт</h6>
          <textarea class="form-control" name="contact" id="contact"></textarea>
          <h6>забрать</h6>
          <div class="row">
              <div class="col-9">
                <textarea class="form-control" name="to_do_take" id="to_do_take"></textarea>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-sm btn-outline-danger dropdown-toggle mb-1" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" id=Choosereturn"><i class="bi bi-arrow-return-left">
                </i>&nbsp;c переработки
                </button>
<!--                <input type="text" hidden id="return_goods_customer_name" value="return_goods_customer_name">
                <input type="text" hidden id="return_goods_to_do_take" value="return_goods_to_do_take"><--->
                <ul class="dropdown-menu" aria-labelledby="Choosereturn" id="ul_ret">
                <li id="rzv_ret_">
                    <a class="dropdown-item">
                    </a>
                </li>
                </ul>
              <input class="form-control me-3" style="max-width: 150px; font-size: 70%;" name="upd_date" id="upd_date">
              </div>
          </div>
          <input class="form-control text-bold" name="upd_id" id="upd_id">
          <h6>сдать</h6>
          <div class="row">
          <div class="col-9">
          <textarea class="form-control" name="to_do_deliver" id="to_do_deliver"></textarea>
          </div>
          </div>
          <h6 hidden>координата</h6>
          <textarea hidden class="form-control" name="mappoint" id="mappoint"></textarea>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="clear_rzv_modal();"
                data-bs-dismiss="modal">Закрыть</button>
        <button type="submit" form="upd_customer" class="btn btn-success">Сохранить</button>
      </div>
    </div>
  </div>
</div>

<div class="row fixed-bottom bg-light pt-2 pb-2">
<div class="col-4 text-nowrap">
{% if page_number == '1' or page_number == None or page_number == '2' %}
<div class="row">
  <div class="col">
        <button data-bs-toggle="modal" data-bs-target="#razvozkaModal" class="btn btn-success  ms-2" data-toggle="tooltip"
                data-placement="top" title="новая развозка" type="button">
        Новая развозка
        </button>
  </div>
</div>
{% endif %}
</div>
<div class="col">
 <div class="row ">
<div id="page_number" hidden>{{page_number}}</div>
<div class="pagination justify-content-end" xmlns="http://www.w3.org/1999/html">
    <span class="step-links dropup-center dropup">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="btn btn-outline-success">&laquo; первая</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-success">предыдущая</a>
        {% endif %}
        <span class="current btn btn-outline-secondary">
           {{ page_obj.object_list.7.0|date:"d.m.y" }} - {{ page_obj.object_list.0.0|date:"d.m.y" }} (страница {{ page_obj.number }}  из {{ page_obj.paginator.num_pages }})
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-success">следующая</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-success">последняя &raquo;</a>
        {% endif %}
        &nbsp
           <button class="btn btn-outline-success dropdown-toggle" type="button" id="_ChooseClientAdd{{rzv.id}}"
                    data-bs-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">
                Выбрать даты
            </button>

              <ul class="dropdown-menu" aria-labelledby="ChooseClientAdd{{rzv.id}}">
                {% for dt_range in date_range %}
              <li><a class="dropdown-item" href="?page={{ dt_range.0 }}"> {{ dt_range.1 }}</a></li>
                {% endfor %}
              </ul>

    </span>
</div><!-- pagination -->
</div>
</div>
</div>

<table class="table table-sm table-hover table-border border-success">
{% for date_r, razv in f_rzv.items %}
    <thead>
    <tr class="table-success">
        <th scope="col" colspan="4" class="">
    {% if date_r|date:'Y-m-d' >= dateold %}
    <button class="btn btn-sm btn-outline-success" data-toggle="tooltip"
            data-bs-toggle="modal" data-bs-target="#razvozkaModal" type="button"
            data-placement="top" title="добавить развозку" onclick="add_razvozka(this);">
        добавить развозку
    </button>
    {% endif %}
        </th>
        {% if date_r|date:'Y-m-d' != '2100-01-01' %}
            <th scope="col" colspan="1" class="text-nowrap text-start" style="font-size:120%;"
                onclick="javascript:colapse('date_{{date_r|date:'Y-m-d' }}');" data-date="{{date_r|date:'Y-m-d'}}">
                Развозка на {{ date_r|date:"d.m.Y" }}
            </th>
            <form action="print_rzv/{{ date_r|date:'Y-m-d'}}" method="post">
            {% csrf_token %}
            <th scope="col" class="text-start"> <button type="submit" class="btn btn-outline-success btn-sm fw-bold" formtarget="_blank">
                <i class="bi bi-printer-fill" style="currentColor"></i> Печать</button>
            </th>
            </form>
        {% else %}
            <th scope="col" colspan="1" class="text-nowrap text-start" style="font-size:120%;"
                onclick="javascript:colapse('date_{{date_r|date:'Y-m-d' }}');"> Развозки планируемые </th>
            <th></th>
        {% endif %}

        <th scope="col" colspan="5" class="text-danger">
        {% for rzv in rzv_len %}
        {% if date_r == rzv.0 %}
            <div class="fw-normal"> развозок: {{rzv.1}}</div>
        {% endif %}
        {% endfor %}

        </th>
    </tr>

    </thead>
    <tbody id="collapse_date_{{date_r|date:'Y-m-d'}}"
           style="display:{% if date_r|date:'Y-m-d' != '2100-01-01' %}table-row-group{% else %}none{% endif %};">

    {% for rzv in razv %}
    <tr class="lh-1 align-top" data-date_id="{{rzv.date_id}}">
        <td class="fw-bolder" style="font-size: 120%;">{{rzv.date_id}}</td>
        <td>
            <button class="btn btn-sm btn-outline-{% if rzv.fulfilled %}success{% else %}danger{% endif %} m-1"
                    type="button" id="rzv_fulfilled_but_{{rzv.id}}" data-id="{{rzv.id}}" data-fulfilled="{{rzv.fulfilled}}"
                    onclick="rzv_status(this);" name="{% if rzv.fulfilled %}1{% else %}0{% endif %}">
                {% if rzv.fulfilled %}<i class="bi bi-check2">{% else %}<i class="bi bi-hourglass">{% endif %}</i>
            </button>
        </td>
        <td>
        {% if rzv.return_from %}
        {% if rzv.return_goods.return_all %}
            <button class="btn btn-sm btn-outline-success text-nowrap m-1" type="button" id="rzv_return_all_{{rzv.id}}"
                    onclick="javascript:rzv_return_all({{rzv.id}}, {{rzv.return_goods.id}});" name="1">
                <i class="fa-regular fa-handshake"></i>
            </button>
        {% else %}
            <button class="btn btn-sm btn-outline-danger text-nowrap m-1" type="button" id="rzv_return_all_{{rzv.id}}"
                    onclick="javascript:rzv_return_all({{rzv.id}}, {{rzv.return_goods.id}});" name="0">
                <i class="fas fa-person-digging"></i>
            </button >
        {% endif %}
        {% endif %}
        </td>
        <td class="fw-bold">{{rzv.customer_name}}</td>
        <td>{{rzv.address}}</td>
        <td>{{rzv.contact}}</td>
        <td {% if not rzv.return_from %} colspan="2"{% endif %} style="min-width: 240px;">
            <div class="mb-2">
                {% if rzv.to_do_take != '' %}
                <strong>ЗАБРАТЬ:&nbsp;</strong>{{rzv.to_do_take}}
            </div>
            <div>
                {% endif %}
                {% if rzv.to_do_deliver != '' %}
                <strong>СДАТЬ:&nbsp;</strong>{{rzv.to_do_deliver}}
                {% endif %}
            </div>
        </td>
        {% if rzv.return_from %}
        <td style="width: 60px;">
           <button type="button" class="btn btn-sm btn-outline-success text-nowrap" data-bs-container="body"
                   data-bs-toggle="popover" data-bs-placement="left" data-bs-content="{{rzv.return_goods.to_do_deliver}}">
                  <!-- data-bs-title="{{rzv.customer.name}}"><-->
            <i class="fas fa-person-digging"></i>&nbsp;от {{rzv.return_goods.date|date:'d.m'}}
            </button>
         </td>
        {% endif %}
        <td>
            <input type="checkbox" class="btn-check" id="btn_checked_{{rzv.id}}" autocomplete="off"
                   {% if rzv.return_all  or rzv.to_do_deliver == '' %}disabled {% endif %}
                   {% if rzv.deliver_to %} value="1" checked  {% else %} value="0"  {% endif %}
                   onclick="javascript:f_deliver_to(this);" data-id="{{rzv.id}}">
            <label class="btn btn-sm btn-outline-danger" for="btn_checked_{{rzv.id}}" >
                <i class="bi bi-arrow-repeat"></i>
            </label>
        </td>
        <td class="text-end" id="rzv_delete_{{rzv.id}}">
            <form action="delete_rzv/{{ rzv.id }}">
            {% csrf_token %}
                <button class="btn btn-sm btn-outline-danger fw-bold" data-toggle="tooltip" data-placement="top"
                        title="удалить развозку" {% if rzv.fulfilled or rzv.deliver_to %}disabled{% endif %} type="submit"
                        id="delete_{{rzv.id}}">
                    <i class="bi bi-x-lg"></i>
                </button>
            </form>
        </td>
    </tr>

    {% endfor %}
    </tbody>
{% endfor %}
</table>
<br><br>
<script>
    $(function () {
      $('[data-bs-toggle="popover"]').popover()
    })
</script>

{% endblock %}